*-cache
*.gir
*.gmo
*.la
*.lo
*.log
*.o
*.pot
*.swp
*.trs
*.typelib
*.tar.gz
*.tar.bz2
__pycache__
.deps
.libs
INSTALL
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
build-aux/
config.h
config.h.in
config.log
config.status
configure
data/*.service
gtk-doc.make
intltool-*
libtool
m4/
po/POTFILES
po/Makefile.in.in
src/*-marshal.*
src/tests/storaged-test
src/tests/storaged-test-helper
src/storaged
stamp-*
tools/storagedctl
tools/umount.storaged
storaged/storaged-generated*
storaged/
