*-cache
*.gir
*.gmo
*.la
*.lo
*.o
*.typelib
*.swp
.deps
.libs
INSTALL
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
build-aux/
config.h
config.h.in
config.log
config.status
configure
data/*.service
gtk-doc.make
intltool-*
libtool
m4/
po/POTFILES
po/Makefile.in.in
src/*-marshal.*
src/tests/udisks-test
src/tests/udisks-test-helper
src/udisksd
stamp-*
tools/udisksctl
tools/umount.udisks2
udisks/udisks-generated*
udisks/
