.deps
.libs
Makefile
Makefile.in
*.o
*.lo
*.la
devkit-disks-daemon
devkit-disks-daemon-glue.h
devkit-disks-device-glue.h
devkit-disks-dm-export
devkit-disks-helper-change-filesystem-label
devkit-disks-helper-create-partition
devkit-disks-helper-create-partition-table
devkit-disks-helper-delete-partition
devkit-disks-helper-erase
devkit-disks-helper-fstab-mounter
devkit-disks-helper-linux-md-remove-component
devkit-disks-helper-mkfs
devkit-disks-helper-modify-partition
devkit-disks-helper-smart-selftest
devkit-disks-marshal.c
devkit-disks-marshal.h
org.freedesktop.DeviceKit.Disks.conf
org.freedesktop.DeviceKit.Disks.service
part_id

