
ACTION!="add|change", GOTO="probe_parttable_end"
SUBSYSTEM!="block", GOTO="probe_parttable_end"

# ignore non-cdrom ide drivers; these causes loops
KERNEL=="hd*[!0-9]", ATTR{removable}=="1", DRIVERS=="ide-cs|ide-floppy", GOTO="probe_parttable_end"
KERNEL=="hd*[0-9]", ATTR{removable}=="1", GOTO="probe_parttable_end"


# scan for partition table only if we're not a partition
#
ATTR{range}=="[0-9]*", IMPORT{program}="part_id $tempnode"

# for partitions, import parent information
#
#ATTR{start}=="[0-9]*", IMPORT{parent}="PART_*"

# However.. right now we're not getting change events on media changes
# *until* all the partitions are added.. so importing parent information
# won't work; therefore, probe the partition table for each partition.
#
ATTR{start}=="[0-9]*", IMPORT{program}="part_id $tempnode"

LABEL="probe_parttable_end"


# pass all events to the DeviceKit disks daemon
SUBSYSTEM=="block", RUN+="socket:/org/freedesktop/devicekit/disks/udev_event"

# Temp hack because of jgarzik bug.. credit goes to Kay
# Sievers for this. Thanks.
#
# See http://marc.info/?l=linux-scsi&m=120479575414508&w=2
#
ACTION=="change", SUBSYSTEM=="scsi", ENV{DEVTYPE}=="scsi_device", PROGRAM="/bin/sh -c 'for i in /sys%p/block/*/uevent; do echo -n change > $$i; done'"
ACTION=="add", SUBSYSTEM=="scsi", ENV{DEVTYPE}=="scsi_device", PROGRAM="/bin/chmod 0644 /sys%p/evt_media_change", ATTR{evt_media_change}="1"
